.avatarImage {
  width: var(--size-avatar);
  height: var(--size-avatar);
  border-radius: var(--radius-full);
}

.accountData {
  min-height: 15rem;
}

.accountName {
  overflow-x: auto;
  text-overflow: ellipsis;
}
