.avatarImage {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.accountData {
  height: 15rem;
}

.emptyState {
  width: 100%;
  height: 100%;

  text-align: center;

  span {
    font-size: 3rem;
  }
}
