.followAccount {
  border: solid var(--color-border);
  border-width: 0 0 var(--border-width-thin);

  .avatar {
    width: var(--size-avatar);
    height: var(--size-avatar);

    border: var(--border-width-thin) solid var(--color-muted);

    border-radius: var(--radius-full);
  }

  .avatarNameContainer {
    display: flex;
    align-items: center;

    padding: var(--space-0-5);
  }

  div:hover {
    background-color: var(--color-surface-hover);
  }

  a {
    width: 100%;
  }

  .accountNameContainer {
    margin-left: var(--space-0-5);
  }
}
