.loadMoreNote {
  text-align: center;

  div {
    border: solid var(--color-border);
    border-width: var(--border-width-thin) 0;
  }

  div:hover {
    background-color: var(--color-surface-hover);
  }
}
