.note {
  border: solid var(--color-border);
  border-width: 0 0 var(--border-width-thin) 0;
  padding: var(--space-0-5);
}

.renoteHeader {
  font-size: var(--font-size-small);
  color: var(--color-muted);
  padding: var(--space-0-25) 0;
}
