.note {
  border: solid #000;
  border-width: 0 0 0.5px 0;
  padding: 0.5rem;
}

.accountNameContainer {
  font-size: small;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  h2 {
    display: flex;
    flex-direction: column;

    span {
      font-weight: lighter;
      font-size: small;
    }
  }
}

.avatarImageContainer {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
  }
}

.actionButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;

  a {
    text-decoration: none;
    color: #000;
  }

  a:hover {
    text-decoration: underline;
  }
}

.quoteComment {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border-radius: 4px;
}
