.sideBarContainer {
  margin-right: 5%;
  position: sticky;
  top: 0;
  height: fit-content;
}

.loggedInAccountContainer {
  display: flex;
  align-items: center;
  margin-top: var(--space-0-5);

  span {
    margin-left: var(--space-0-5);
  }

  .avatar {
    width: var(--size-avatar);
    height: var(--size-avatar);
    border-radius: var(--radius-full);
  }
}

.loginButton {
  width: 100%;
  padding: var(--space-0-75);
}

.sideBar {
  display: flex;
  flex-direction: column;

  margin-top: var(--space-2);
  margin-right: var(--space-1);
  gap: var(--space-0-5);

  .link {
    font-size: 1.2rem;
    padding: var(--space-0-75);
  }
}
