:root {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.layout {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.root {
  width: 50svw;
  max-width: 60rem;
  min-height: 100lvh;
  height: 100%;
  box-sizing: border-box;
  padding: var(--space-0-5) 0;
  border: solid var(--color-border);
  border-width: 0 var(--border-width-thin);
}
