:root {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.root {
    width: 50svw;
    max-width: 60rem;
    min-height: 100lvh;
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0;
    border: solid;
    border-width: 0 0.5px;
}
